*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: sans-serif;
  background-color: #f5f5f5;
}
*::-webkit-scrollbar{
  display: none;
}
.board{
  display: 
  flex-direction:

  align-items:
  overflow: scroll;
  margin-top: 10px;
}

/* FORM */
#todo-form{
  padding: 32px 24px 0;
  margin-bottom: 10px;
}
#todo-form input{
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

#todo-form button{
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  color: #ffffff;

  font-weight: bold;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
#todo-form button:active{
  background: #27ae60;
  transform: scale(0.89);
}

/* BOARD */

.lanes{
  display: flex;
  gap:16px;
  padding: 32px 24px;

  overflow: scroll;
  height: 100%;
}

.heading{
  font-size: 20px; 
  font-weight: bold;
  margin-bottom: 8px;
}

.swim-lane{
  display: 
  flex-direction: 
  padding: 12px;
  min-height: 120px;
  flex-shrink: 0;
  gap: 
  width: 300px;
  height: fit-content;
  padding: 16px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.task{
  padding: 12px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  cursor: move;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}
.is-dragging{
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50,50,50);
  color: white;
}

